# 1. Version and Syntax Print
Version menggunakan library import sys version untuk mengetahui version python yang sedang berjalan.
Syntax print yang digunakan untuk memunculkan output yang ingin kita print pada console

In [1]:
# Python Version
import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

In [2]:
# Syntax Print
print("Hello, world!")

Hello, world!

# 2. Variabel
Variabel dalam pemrograman digunakan untuk menyimpan data/ informasi/ nilai. Di python, variabel ditetapkan dengan menggunakan =. Pada contoh di samping, angka 2 ditetapkan pada variabel nilai, dan tulisan “Imam” ditetapkan pada variabel nama.

In [3]:
# Operator Eksponen
nilai = 2
nama = "Arjun"

print(nama, nilai)

Arjun 2

# 3. Tipe Data

## Integer
Tipe data integer berisi angka yang tidak memiliki koma (,) alias bilangan bulat. Penulisan syntax menggunakan fungsi type().

Berikut adalah beberapa contoh bilangan bulat. Bilangan bulat dapat berupa bilangan negatif atau positif:
<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesInt.png" width="600">
</a>

In [4]:
type(-1)

int

In [5]:
type(4)

int

In [6]:
type(0)

int

## Float
Float mewakili bilangan real; mereka adalah superset dari bilangan bulat tetapi juga termasuk "angka dengan desimal". Ada beberapa batasan dalam hal mesin yang merepresentasikan bilangan real, tetapi bilangan floating point adalah representasi yang baik dalam banyak kasus. Anda dapat mempelajari lebih lanjut tentang spesifikasi float untuk lingkungan runtime Anda, dengan memeriksa nilai sys.float_info. Ini juga akan memberi tahu Anda berapa angka terbesar dan terkecil yang dapat direpresentasikan dengannya.

In [7]:
type(12.6)

float

In [8]:
type(0.56)

float

In [9]:
type(-5.7)

float

## String
String adalah tipe data Python untuk menampung nilai teks, seperti huruf, tanda baca, dan karakter spesial lainnya. Ciri-ciri tipe data string adalah diapit tanda petik, baik itu petik satu ('') atau petik dua (“”).

In [10]:
type("Hello, Python 3!")

str

In [11]:
type('Hello Jupyter Notebook')

str

In [12]:
type("Hello Google Colab")

str

## Boolean
Boolean adalah tipe penting lainnya di Python. Objek bertipe Boolean dapat mengambil salah satu dari dua nilai: True atau False:

In [13]:
type(True)

bool

In [14]:
type(False)

bool

# 4. Expression
Ekspresi dalam Python dapat menyertakan operasi di antara tipe yang kompatibel (mis., bilangan bulat dan float). Misalnya, operasi aritmatika dasar seperti menambahkan beberapa angka:

## Expression Operator Eksponen

In [15]:
x = 2 ** 3
x

8

## Expression Operator Modulus/Sisa

In [16]:
x = 22 % 8
x

6

## Expression Operator Pembagian Bilangan Bulat

In [17]:
x = 22 // 8
x

2

## Expression Operator Pembagian

In [18]:
x = 22 / 8
x

2.75

## Expression Operator Perkalian

In [19]:
x = 3 * 3
x

9

## Expression Operator Pengurangan

In [20]:
x = 5 - 2
x

3

## Expression Operator Tambahan

In [21]:
x = 2 + 2
x

4

# 5. Data Collection
Collection = single "variable" used to store multiple values

|Collection Type                       |Description     |Duplicate |
|:------------------------------|:---------|:-----------|
List = [ ] | berurut & dapat diubah| OK
Set = { } | tidak berurut & tidak dapat diubah, namun Add/Remove OK | NO
Tuple = ( ) | berurut & tidak dapat diubah. Lebih Cepat | OK
Dictionary = {} | tidak berurut & dapat diubah (indexing) | NO

## a. Collection Type List = []
List adalah kumpulan objek yang diurutkan dan dapat diubah.

In [22]:
# Umumnya, gunakan tanda kurung biasa () untuk membuat list
list1 = [1, 2, 3, 4, 3, 2, 1]
list2 = list( ("1", "2", 1, 2) )
list3 = [] # creates an empty list

print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 3, 2, 1]
['1', '2', 1, 2]
[]

## Objek atau elemen dalam list dapat dipanggil dengan menggunakan index.
Perhatikan bahwa **indeks Python dimulai dari 0**.\
**Elemen terakhir dapat diindeks sebagai -1**.\
<img src="https://www.aipython.in/wp-content/uploads/2020/02/Index_in_python-list.png" width="660" />

In [23]:
print(list1[5])
print(sorted(list1))

2
[1, 1, 2, 2, 3, 3, 4]

## List bisa berubah, artinya kita bisa memodifikasi elemen di dalamnya.
Kita dapat melakukan deklarasi langsung ke elemen yang diindeks, atau kita dapat meletakkan beberapa metode di sana.

In [24]:
A = [1, 2, 3]
A[0] = 3
print(A)

[3, 2, 3]

## b. Collection Type Set = {}
Set adalah kumpulan objek yang unordered dan unik.

In [25]:
set1 = {"three", 1, 4, 2}
a = (1, "1", 1, 2)
set2 = set((1, "1", 1, 2))
set3 = {} # creates an empty set

print(set1)
print(set2)
print(set3)

{1, 2, 4, 'three'}
{'1', 1, 2}
{}

## Set bisa berubah: elemen di dalam set dapat dimodifikasi.

Metode umum adalah .add(), .discard(), dan .clear().

In [26]:
set4 = {3, 5, "ten", False}
print(set4)

set4.add(9)
print(set4)

set4.add(3)
print(set4)

set4.add("ab")
print(set4)

set4.discard("ten")
print(set4)

set4.discard("huh?")
print(set4)

set4.clear()
print(set4)

{False, 3, 'ten', 5}
{False, 3, 5, 9, 'ten'}
{False, 3, 5, 9, 'ten'}
{False, 3, 5, 9, 'ab', 'ten'}
{False, 3, 5, 9, 'ab'}
{False, 3, 5, 9, 'ab'}
set()

## c. Collection Type Tuple = ()
Tuple adalah kumpulan objek yang dipesan dan tidak dapat diubah.
Ada berbagai cara untuk membuat tuple.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesIndex.gif" width="750" align="center">

In [27]:
# Umumnya, gunakan tanda kurung biasa () untuk membuat tuple
tuple1 = (1, 2, "three", 4)
tuple2 = tuple((1, True, 1, "false"))
tuple3 = () # creates an empty tuple

print(tuple1)
print(tuple2)
print(tuple3)

(1, 2, 'three', 4)
(1, True, 1, 'false')
()

## Tuple tidak dapat diubah. Setelah tuple dibuat, kita tidak dapat memodifikasinya.

In [28]:
tuple4 = ('a', 'b', 'c')
print(tuple4)

('a', 'b', 'c')

In [29]:
tuple4 = ('a', 'b', 'c')
tuple4[0]

'a'

## d. Collection Type Dictionary = {}
Dictionary adalah pasangan key value dari objek.
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="650" />

In [30]:
# Dictionary juga menggunakan kurung kurawal {} untuk dibuat
luffy = {
    "Full Name": "Monkey D. Luffy",
    "Occupation": "Pirate",
    "Age": 19,
    "Origin": "East Blue"
}

print(luffy["Full Name"])
print(luffy["Age"])

Monkey D. Luffy
19